@import 'authors';
@import 'books';
@import 'carts';
@import 'session';
@import 'user';

.demo-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

.demo-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  padding: 56px;
  margin-bottom: 80px;
}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

.error-text {
  color: #F44235;
  font-weight: bold;
}
.add-button {
  padding: 0 20px 0 0;
}
.error-text {
  color: #F44235;
  font-weight: bold;
}

.index {
  .mdl-card--expand {
    min-height: 320px;
  }
  .go-to-button {
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .item-list {
    display: flex;
    .mdl-grid {
      display: flex;
      justify-content: center;
      .mdl-cell {
        width: 320px;
        display: flex;
        justify-content: center;
      }
      .demo-card-square {
        width: 320px;
        margin: 20px;
        display: flex;
        justify-content: center;
        .mdl-card__supporting-text {
          a {
            text-decoration: none;
            color: #212121;
          }
        }

        .mdl-card__actions {
          small {
            padding-left: 10px;
          }
        }
      }
    }
  }
}

.show {
  .demo-card {
    max-width: 90%;
    display: block;
    justify-content: center;
    margin: 0 auto;
    .mdl-cell {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 20px;
      .photo {
        display: flex;
        justify-content: center;
        img {
          max-width: 100%;
        }
      }
    }
  }
  .price {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4 {
      text-align: center;
    }
  }
}

.cart {
  .order-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .checkout {
    float: right;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    font-size: 12px;
    line-spacing: 1.2;
  }
  .cart {
    .order-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
  .show {
    .demo-card {
      max-width: 95%;
      .mdl-cell {
        width: 90%;
      }
    }
  }
  .user-name {
    display: none;
  }
}
