.go-to-button {
  position: absolute;
  right: 15px;
  top: 15px;
}
.item-list {
  max-width: 85%;
  margin: 0 auto;
}
.demo-card-square.mdl-card {
  width: 320px;
  // height: 480px;
  margin: 20px;
}
.item-list {
  display: flex;
  .card-square {
    width: 320px;
    height: 320px;

    .mdl-card__title-text {
      background: rgba(#111111, 0.6);
      color: #eeeeee;
      padding: 2px 12px;
    }
  }
}
.mdl-card--expand {
  min-height: 320px;
}
